<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

  <body>
    <nav>
      <div class="site-title">
        <a href="/">Sajed Blog</a>
        <p>A Sajed Sites</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>

    <div class="about content">
      <h2>About us</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt iste fugit voluptas nobis voluptatem. Debitis,
        neque. Quam facilis, ipsam, tempora perspiciatis reprehenderit necessitatibus modi sequi cupiditate,
        exercitationem consequatur animi. Eligendi?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt iste fugit voluptas nobis voluptatem. Debitis,
        neque. Quam facilis, ipsam, tempora perspiciatis reprehenderit necessitatibus modi sequi cupiditate,
        exercitationem consequatur animi. Eligendi?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt iste fugit voluptas nobis voluptatem. Debitis,
        neque. Quam facilis, ipsam, tempora perspiciatis reprehenderit necessitatibus modi sequi cupiditate,
        exercitationem consequatur animi. Eligendi?</p>
    </div>
    <%- include('./partials/footer.ejs') %>

  </body>

</html>